.submit-wave-button {
  background: -webkit-linear-gradient(left, #827aee, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}

.wave-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
}

.wave-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  color: white;
  border: 2px solid white;
  height: 200px;
}

.user-address-heading {
  padding: 15px 0;
  border-bottom: 2px solid white;
}

.wave-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.user-address {
  margin-left: 10px;
  background: -webkit-linear-gradient(left, #827aee, #35aee2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-address:hover {
  cursor: pointer;
}

.wave-input {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
}

.connected-container button {
  height: 50px;
}
.message-form {
  margin: 50px auto;
}

.error-message {
  margin: 15px 0;
  font-weight: 700;
  font-size: 20px;
  color: rgb(219, 55, 55);
}
